html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #d6a400c9;
}

img {
  display: inline-block;
  max-width: 100%;
}
.animalImage {
  display : flex;
  border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 185px;
    max-height: 258px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.container {
  padding: 20px;
  background-color: blanchedalmond;
}

/* --------------------------------------------------------------------------------
Cards
-------------------------------------------------------------------------------- */
.full-card {display : flex;
border-radius: 25px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;;
}

.card-header {display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 185px;
    max-height: 258px;
    background-color: #0d2bd3;}

.card-body {display : flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 185px;
    background-color: #d6a400c9 ;}

.card-footer {display : flex;
  border-radius: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 185px;
    max-height: 258px;
    background-color: #0d2bd3;}

.card-image {display : flex;
  border-radius: 25px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 185px;
    max-height: 258px;}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.log-out-div{display:flex;
  flex-wrap: wrap;
  justify-content: center;}

.log-out-button{
  font-size: xx-large;
}
.button{
  border-radius: 25px;
  font-size: small;
  min-height: 50px;
  min-width: 100px;
}


.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

.button:hover {
  background-color: #d6a400c9; /* Green */
  color: white;
}

.input-button:hover {
  background-color: #d6a400c9; /* Green */
  color: white;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Components
-------------------------------------------------------------------------------- */
.header{display : flex;
        flex-wrap: wrap;
        justify-content: center;}

.description{display : flex;
            flex-wrap: wrap;
            justify-content: center;}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
