.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #0300b0;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  font-family: fantasy;
  color: #e67e08;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #e67e08;
  background-color: #0300b0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 30px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #f2f2f2;
}

.app-logo {
  max-width: 75px;
  max-height: 75px;
  margin-left: 15px;

  /* max-height: 100px;
  margin: 84px 0px 0px; */
}
